  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 26px;
    color:white;
  }


  .centered1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color:white;
    
  }

  .centered2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background-color: tomato;
    color:white;
    
  }